body {
    margin: 60px auto;
    width: 70%;

}
a {
    text-decoration: underline;
    color: #777;
}
a:hover {
    color: #222;
}
h1 {
    font-size: 3em;
    font-family:'Lucida Console', 'Monaco', 'monospace';
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #444;
    font-family:'Lucida Console', 'Monaco', 'monospace';
}
strong {
  color: #000;
}
